* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
 }
 
 .cf:after {
    clear: both;
 }

@keyframes slideInTop {
    0% {
      transform: translateY(-150%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.modal-overlay {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    animation: .5s ease-out 0s 1 opacity;
}

.modal-overlay .modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    margin: 50px auto;
    max-width: 600px;
    width: 90%;
    animation: .5s ease-out 0s 1 slideInTop;
}

.modal-overlay .modal-content {
    color: #666666;
    padding: 30px;
}
.modal-content input[type="text"] {
    margin-top: 5px;
    outline: none;
    color: #666666;
    border: 1px solid #99999944;
    min-height: 40px;
    width: 100%;
    padding: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
}
.modal-content input[type="text"]:focus {
    transition: .3s;
    border: 1px solid #00ADB5;
}
.modal hr {
    border: none;
    height: 1px;
    background-color: #99999944;
    margin: 0;
}

.modal-overlay .modal-footer {
    padding: 15px 30px;
}
.modal-footer button[type="submit"] {
    color: white;
    border: none;
    background-color: #00ADB5;
    cursor: pointer;
    float: right;
    width: 110px;
    height: 40px;
}
.modal-footer button[type="submit"]:hover {
    background-color: #01a0a8;
}
.modal-footer button[type="submit"]:active {
    background-color: #009097;
}

.nav {
    position:fixed;
    z-index: 9999;
    width: 100%;
    height: 65px;
    background-color: #222831;
    border-bottom: 2px solid #393E46;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav .nav-content {
    display: flex;
    background-color: #222831;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
}
.title, .menu, .settings {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: #222831;
    /* border: 1px solid white; */
}

.title {
    padding-left: 40px;
    width:33.1%;
    min-width: 250px;
}
.title h1 {
    text-align: center;
    margin: auto;
}
.menu {
    width: 50%;
    min-width: 400px;
    max-width: 620px;
}
.settings {
    display: flex;
    justify-content: center;
    width:28%;
    max-width: 375px;
    min-width: 200px;
}
.settings i {
    margin-right: -80px;
    font-size: 1.5em;
}

.blank {
    width:30%;
    min-width: 250px;
    min-height: 100vh;
    border-right: 1px solid #393E46;
    background-color: #393E46;
}

.hamburger-menu {
    display: none;
}
.menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    align-items: center;
    color: #fff;
    padding: 15px 2px;
    width: 100px;
    height: 55px;
    font-size: 1.2em;
    user-select: none;
    text-align: center;
    font-weight: 500;
}
.menu a:hover {
    background-color: #393E46;
}
#posting {
    display: none;
}

.container {
    position: relative;
    display: flex;
}

.upload-section {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 25.1%;
    /* max-width: 375px; */
    min-width: 200px;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #393E46;
    padding: 80px 10px;
}
.upload-section form div {
    margin-top: 20px;
    color: #fff;
}
.upload-section input[type="text"] {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
    outline: none;
    min-height: 2em;
}
.upload-section input[type="file"] {
    width: 100%;
}
.upload-section input[type="file"]::file-selector-button {
    margin-top: 5px;
    border: none;
    background: #00ADB5;
    width: 60%;
    padding: 10px 20px;
    border-radius: 2px;
    min-height: 2em;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
  }
.upload-section input[type="file"]::file-selector-button:hover {
    background: #00a0a8;
}
.upload-section .upload-btn {
    display: block;
    max-width: 150px;
    width: 50%;
    margin: 30px auto;
    cursor: pointer;
    min-height: 2em;
    border-radius: 3px;
    border: 1px solid #00ADB5;
    background-color: #00ADB5;
    color: #fff;
    transition: .2s;
}
.upload-section .upload-btn:hover{
    transform: translateY(-1px);
    background-color: #00a0a8;
}
.upload-section .cancel-btn{
    display: none;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    max-width: 620px;
    min-height: 100vh;
    padding: 80px 20px;
    width: 45%;
    background-color: #222831;
    color: #fff;
}
.main .note {
    border-radius: 8px;
    padding: 2px 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #00ADB5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card {
    border-radius: 8px;
    padding: 10px;
    background-color: #393E46;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main hr, .card hr, .menu-hamburger hr {
    margin: 10px 0;
    border: none;
    height: 2px;
    background-color: #999999a6;
}
.card .content {
    width: 100%;
}
.content h3 {
    margin-left: 6px;
    font-size: larger;
}
.content p {
    margin: 6px 0 0 12px;
    font-size: medium;
}
.card img {
    display: block;
    margin: auto;
    width: 100%;
}

.menu-hamburger {
    display: none;
}

@media only screen and (max-width: 992px) {
    .upload-section {
        display: none;
    }
    .blank {
        width: 40%;
    }
    .main {
        max-width: unset;
        width: 60%;
    }
    .nav {
        height: 60px;
    }
    .title {
        min-width: 200px;
        max-width: unset;
        width: 50.5%;
    }
    .title h1 {
        font-size: 1.8em;
    }
    .menu {
        max-width: unset;
        width: 78%;
    }
    .menu a {
        font-size: 1.1em;
        margin-right: auto;
    }
    .settings {
        display: none;
    }

    .upload-section {
        max-width: unset;
        display: block;
        right: -500px;
        width: 45%;
        transition: .3s;
    }
    .upload-trans {
        right: 0;
    }
    .close-upload-div {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
    }
    .close-upload-div-trans {
        display: block;
    }

    #posting {
        display: block;
        margin-left: 20px;
    }
    .blank {
        min-width: 200px;
    }
}

@media only screen and (max-width: 768px) {
     .title{
        padding-left: 0;
    }
    .title h1 {
        font-size: 1.6em;
    }
    .menu a {
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .blank {
        display: none;
    }
    .main {
        max-width: unset;
        width: 100%;
    }

    .nav-content {
        justify-content: space-between;
    }
    /* .title, .hamburger-menu {
        border: 1px solid red;
    } */
    .menu {
        display: none;
    }
    .hamburger-menu {
        display: block;
        padding: 10px;
        margin-right: 10px;
    }
    .hamburger-menu i {
        font-size: 1.8em;
    }
    .menu-hamburger {
        display: block;
        position: fixed;
        margin-top: 59px;
        right: 0;
        z-index: 99990;
        background-color: #222831;
        border: 2px solid #393E46;
        border-radius: 9px;
        width: 45%;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: #fff;
        user-select: none;
        clip-path: circle(0px at top right);
        transition: .5s;
    }
    .menu-hamburger-trans {
        clip-path: circle(295px at top right);
    }
    .menu-hamburger ul {
        list-style: none;
    }
    .menu-hamburger a {
        display: inline-block;
        background-color: #222831;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
        margin: 2px 0;
        padding: 8px 0;
        text-align: center;
        font-size: 1.2em;
        transition: .3s;
    }
    .menu-hamburger a:hover {
        background-color: #393E46;
    }
    .menu-hamburger hr {
        margin: 0 auto;
        width: 90%;
    }

    .upload-section {
        display: none;
        max-width: 400px;
        max-height: unset;
        top: 200px;
        left: 30%;
        width: 60%;
        margin-left: -50px;
        height: auto;
        padding: 0 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        animation: .4s ease-out 0s 1 slideInTop;
    }
    .upload-trans-hamburger {
        display: block;
    }
    .upload-section .cancel-btn {
        display: block;
        max-width: 150px;
        width: 50%;
        margin: 30px auto;
        margin-top: -20px;
        cursor: pointer;
        min-height: 2em;
        border-radius: 3px;
        border: 1px solid #00ADB5;
        background-color: #EEEEEE;
        color: #222831;
        transition: .2s;
    }
    .upload-section .cancel-btn:hover {
        background-color: #eeeeeed8;
    }
}
