* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
 }
 
 .cf:after {
    clear: both;
 }

@keyframes slideInTop {
    0% {
      transform: translateY(-150%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.modal-overlay {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    animation: .5s ease-out 0s 1 opacity;
}

.modal-overlay .modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    margin: 50px auto;
    max-width: 600px;
    width: 90%;
    animation: .5s ease-out 0s 1 slideInTop;
}

.modal-overlay .modal-content {
    color: #666666;
    padding: 30px;
}
.modal-content input[type="text"] {
    margin-top: 5px;
    outline: none;
    color: #666666;
    border: 1px solid #99999944;
    min-height: 40px;
    width: 100%;
    padding: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
}
.modal-content input[type="text"]:focus {
    transition: .3s;
    border: 1px solid #00ADB5;
}
.modal hr {
    border: none;
    height: 1px;
    background-color: #99999944;
    margin: 0;
}

.modal-overlay .modal-footer {
    padding: 15px 30px;
}
.modal-footer button[type="submit"] {
    color: white;
    border: none;
    background-color: #00ADB5;
    cursor: pointer;
    float: right;
    width: 110px;
    height: 40px;
}
.modal-footer button[type="submit"]:hover {
    background-color: #01a0a8;
}
.modal-footer button[type="submit"]:active {
    background-color: #009097;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.upload-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    max-width: 375px;
    min-width: 200px;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #393E46;
    padding: 20px 10px;
}
.upload-bsection {
    width: 30%;
    max-width: 375px;
    min-width: 200px;
    height: 100vh;
}
.upload-section form div {
    margin-top: 20px;
    color: #fff;
}
.upload-section input[type="text"] {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
    outline: none;
    min-height: 2em;
}
.upload-section input[type="file"] {
    width: 100%;
}
.upload-section input[type="file"]::file-selector-button {
    margin-top: 5px;
    border: none;
    background: #00ADB5;
    width: 60%;
    padding: 10px 20px;
    border-radius: 2px;
    min-height: 2em;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
  }
.upload-section input[type="file"]::file-selector-button:hover {
    background: #00a0a8;
}
.upload-section .upload-btn {
    display: block;
    max-width: 150px;
    width: 50%;
    margin: 30px auto;
    cursor: pointer;
    min-height: 2em;
    border-radius: 3px;
    border: 1px solid #00ADB5;
    background-color: #00ADB5;
    color: #fff;
    transition: .2s;
}
.upload-section .upload-btn:hover{
    transform: translateY(-1px);
    background-color: #00a0a8;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    max-width: 550px;
    min-height: 100vh;
    padding: 10px 20px;
    width: 50%;
    background-color: #222831;
    color: #fff;
}
.main .note {
    border-radius: 8px;
    padding: 2px 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #00ADB5;
}
.card {
    border-radius: 8px;
    padding: 10px;
    background-color: #393E46;
    margin-top: 20px;
}
.main hr, .card hr {
    margin: 10px 0;
    border: none;
    height: 2px;
    background-color: #999999a6;
}
.card .content {
    width: 100%;
}
.content h3 {
    margin-left: 6px;
    font-size: larger;
}
.content p {
    margin: 6px 0 0 12px;
    font-size: medium;
}
.card img {
    display: block;
    margin: auto;
    width: 100%;
}